<header class="main-header">
  <div class="home">
    <a href="/games" class="home-btn">Home</a>
  </div>
  <div class="header-right-links">
    <a
      href="/genres"
      class="header-link <%= currentPath === '/genres' ? 'active' : '' %>"
      >Genres</a
    >
    <a
      href="/platforms"
      class="header-link <%= currentPath === '/platforms' ? 'active' : '' %>"
    >
      Platforms</a
    >
  </div>
</header>
