<html>
  <head></head>
  <body>
    <%- include('partials/errors') %>
    <div class="genres">
        <h3>Genres</h3>
            <ul>
                <% genresList.forEach(genre => { %>
                    <li>
                        <a href="/genres/<%= genre.id %>"><%= genre.name %></a>
                        <form action="/genres/<%= genre.id %>/delete" method="POST"><button type="submit">Delete</button></form>
                    </li>
                <% }) %>
            </ul>
    </div>
    <a href="/">Back to home</a>
    <form action="/genres/new" method="POST">
      <label for="genre">Genre name:</label>
      <input type="text" name="genre" id="genre" required/>
      <button type="submit">Add Genre</button>
    </form>
  </body>
</html>
