<html>
  <head></head>
  <body>
    <%- include('partials/errors') %>
    <div class="platforms">
        <h3>Platforms</h3>
            <ul>
                <% platformsList.forEach(platform => { %>
                    <li>
                        <a href="/platforms/<%= platform.id %>"><%= platform.name %></a>
                        <form action="/platforms/<%= platform.id %>/delete" method="POST"><button type="submit">Delete</button></form>
                    </li>
                <% }) %>
            </ul>
    </div>
    <a href="/">Back to home</a>
    <form action="/platforms/new" method="POST">
      <label for="platform">Platform name:</label>
      <input type="text" name="platform" id="platform" required />
      <button type="submit">Add Platform</button>
    </form>
  </body>
</html>
