/* =========================================
    GLOBAL
   ========================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-title: "Kanit", sans-serif;
  --font-body: "Inter", sans-serif;

  --accent-primary: #5540ff;
  --accent-hover: #444fe7;
  --accent-soft: #f0eeff;
  --acent-border: #d8d3ff;

  --text-primary: #0f172a;
  --text-secondary: #67648b;

  --bg-primary: #f2f1f9;
  --bg-secondary: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.workspace-wrapper {
  display: flex;
  flex: 1;
}

/* =========================================
    HEADER PARTIAL
   ========================================= */

.main-header,
.sidebar {
  background-color: var(--bg-secondary);
  border-bottom: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
}

.main-header {
  font-family: var(--font-title);
  padding: 20px 30px;
}

.home-btn {
  color: var(--accent-primary);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

/* =========================================
    SIDEBAR PARTIAL
   ========================================= */

.sidebar {
  width: 250px;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.sidebar h3 {
  font-family: "Kanit", sans-serif;
  font-size: 0.85 rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--text-secondary);
  margin-bottom: 10px;
  margin-top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.sidebar a {
  display: block;
  font-weight: 300;
  color: var(--text-primary);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 20px;
  transition: all 0.2s ease;
}

.sidebar a:hover {
  background-color: var(--accent-primary);
  color: var(--bg-primary);
}

.sidebar a.active {
  background-color: var(--accent-soft);
  color: var(--accent-primary);
  font-weight: 600;
}

/* =========================================
    MAIN CONTENT
   ========================================= */

.main-content {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
  background-color: var(--bg-primary);
}

.grid-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.grid-header h1 {
  font-family: var(--font-title);
}

.grid-header a {
  padding: 0.6rem 1.25rem;
  border-radius: 8px;
  background-color: var(--accent-primary);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.grid-header a:hover {
  background-color: #3b34af;
  transform: translateY(-2px);
  box-shadow: 0 5px 12px rgba(130, 99, 241, 0.3);
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 2rem;
}

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-secondary);
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  box-shadow: 0 2px 8px (0, 0, 0, 0.05);
  overflow: hidden;
  transition:
    transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.game-card:hover {
  transform: translateY(-5px);
  border-color: var(--accent-primary);
  box-shadow: 0 10px 20px -5px rgba(85, 54, 255, 0.15);
}

.card-image {
  aspect-ratio: 3/4;
  overflow: hidden;
}

.card-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-content {
  padding: 1rem;
}

.card-content h3,
.card-content a {
  font-family: var(--font-title);
  font-weight: 300;
  color: var(--text-primary);
  text-decoration: none;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-content a:hover {
  color: var(--accent-hover);
}

.card-content p {
  font-family: var(--font-title);
  font-weight: 600;
  color: var(--accent-primary);
  font-size: 1rem;
}

/* =========================================
    GAME DETAILS
   ========================================= */

.genre-badge,
.platform-badge {
  background-color: var(--accent-soft);
  color: var(--accent-primary);
  border: 1px solid var(--acent-border);
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 0.75rem;
  font-weight: 600;
}
